body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: rgb(248, 232, 217);
}


.header {
    background-color: rgb(248, 232, 217);
    background-image: url('/Food-Website/images/Untitled.jpeg'); /* Placeholder image path */
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px 20px;
    position: relative;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Dark overlay */
}

.header-content {
    position: relative;
    z-index: 1;
}

.header h1 {
    font-size: 3em;
    margin: 0;
}

.header p {
    font-size: 1.5em;
    margin-top: 10px;
}

.book-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: #ff6347; /* Tomato color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    height: 50px; /* Set height */
    width: 200px; /* Set width */
}

.book-btn:hover {
    background-color: #ff4500; /* Darker tomato color */
    transform: scale(1.05);
}

main {
    padding: 20px; 
}

.booking-form, .info {
    max-width: 600px; /* Set width */
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.booking-form h2, .info h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: calc(100% - 10px);
    padding: 5px;
    margin-top: 5px;
}

.form-book-btn {
    display: block;
    text-align: center;
    padding: 20px 20px;
    position: relative;
    color: aquamarine;
    background-color: #444;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.form-book-btn:hover {
    background-color: green;
    transform: scale(1.05);
}

.info {
    margin-top: 20px;
    text-align: center;
}

.info p {
    margin: 10px 0;
}

.info a {
    color: #444;
    text-decoration: none;
}

.info a:hover {
    text-decoration: underline;
}

.footer {
    padding: 10px 0;
    border-top: 2px solid rgb(252, 184, 187);
    background-color: rgb(252, 222, 195);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.footer-1 .logo img {
    width: 200px;
}

.footer-1 p {
    cursor: pointer;
    font-size: 14px;
    padding: 2px;
    color: rgb(255, 137, 2);
}

.footer-2 h2 {
    text-align :center;
    cursor: pointer;
}

.footer-2 h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.footer-2 img {
    width: 50px;
    margin-bottom: 15px;
}
